/* Remove the navbar's default rounded borders and increase the bottom margin */
.navbar {
  padding: 20px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-radius: 0;
  background-color: #26215f;
}

.btn {
  font-size:16px;
  block-align:center;
}

/* Remove the jumbotron's default bottom margin */
.jumbotron {
  margin-bottom: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #53565A;
  padding: 20px;
}

a {
  color: #3399ff;
  text-align: center;
}

.footerLinks{
  color:white;
}

.headerLinks{
  color:white;
}

.footerLinks:hover{
  color:#C99700;
}

.headerLinks:hover{
  color:#C99700;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #C99700;
}

.navbar-brand>img {
  max-height: 100%;
  height: 100%;
  width: auto;
  margin: 0 auto;

  /* probably not needed anymore, but doesn't hurt */
  -o-object-fit: contain;
  object-fit: contain;
}

.centered-search {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}

#search-button {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  font-size: 14px;
}.search-input {
margin-top: 10px;
width: 600px !important;
margin-left: 10px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 600px) { .search-input { width: 250px !important; margin-top: 10px; margin-left: 10px;}}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 1000px) { .search-input { width: 450px !important; margin-top: 10px; margin-left: 10px;} }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1600px) { .search-input { width: 850px !important; margin-top: 10px; margin-left: 10px;} }

#menuitem
{
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 5px;
  margin-top: 10px;
}

#logo {
margin-right: 10px;
}

.item {
  height: 400px;
  position: relative;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
}

.inner-item {
  possition: static;
  height :100%;
  background-color: translucent;
  padding-bottom: 0px;
}

.thumbnail {
  margin-bottom: 10px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.caption {
  padding-bottom:10px;
}


/* footer.php */
#footerText {
  color: #fff;
  background-color:none;
  margin-bottom: 15px;
  margin-top: 0px;
  padding-left:15px;
}

/* header.php */
.panel-primary>.panel-heading {
  background-color: #000000;
  border-color: #000000;
}

.panel-primary {
  border-color: #53565a
}

#sellLink2 .btn-primary:hover {
  background-color: #286090;
}

/* home - index */
#categoryBox .panel .panel-heading {
  font-size: 150%;
  background-color: #26215f ;
  border-color: #26215f;
}

#categoryBox .panel-primary {
  background-color: #26215f ;
  border-color: #26215f;
}
#categoryBox .panel-body {
  padding: 0px;
}

#categoryBox .panel-body .btn {
  padding: 0px;
}

#bodyText {
  color :#26215f;
  background-color: #fff;
  margin-bottom: 15px;
  margin-top: 0px;
}

#bodyText.page-header {
  margin:0px;
}

#lastHomeIndex {
  margin-bottom: 55px;
}

#category-icons {
  background-color: transparent;
  order: none;
  outline: none;
}

/* profile and profile edit and register */
.form-input {
  max-width: 80%;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}

/* signin */
#signin-form.form-input {
  max-width: 380px;
}

#login.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* sell */
#form-group-select .form-control + .form-control-feedback {
  right: 10px;
}

#sellTitle {
  text-align: center;
  padding-top: 10px;
  margin: 0px;
  font-size: 20pt;
}

.form-sell {
  font-size: 12pt;
}

#submit-button {
  padding: 12px 22px;
  font-size: 18px;
  border-radius: 8px;
}

/* sell display */
.container-selldisplay p {
  text-align: center;
  font-size: 28px;
}

.container-selldisplay table {
  text-align: left;
  margin: 0 auto;
}

.container-selldisplay td {
  min-height: 300px;
  max-height: 300px;
  margin: 10px;
  padding: 10px;
}

.container-selldisplay {
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 15px;
}

.sellDispbuttons {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

/* profile - sell history */
.sellhistbuttons {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#noSellItems.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* register */
#register-page.wrapper {
  margin-bottom: 70px;
}

/* thank you message */
.container-fluid {
  padding: 60px 50px;
  color: #0066cc;
}.logo-small {
  color: #00cc00;
  font-size: 50px
}
